#header {
    background: white;
    width: 100%;
}

.sm-header-icon {
    width: 28px;
    height: 28px;
}

.icons {
    margin-left: 65px;
    margin-right: 15px;
}

.logo {
    width: 339px;
    height: 58px;
    padding: 2px 2px 2px 2px;
    gap: 0;
}

.under-logo {
    font-family: Ubuntu, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.nav-link a {
    font-family: Ubuntu, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #1C1C1C;
}

.nav-item {
    font-family: Ubuntu, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.09px;
    text-align: left;
}

@media (max-width: 576px) {
    .navbar-brand {
        width: 150px;
    }

    .under-logo {
        font-size: 7px;
        font-weight: 500;
        line-height: 8.04px;
    }

    .logo {
        width: 150px;
        height: 23.72px;
    }

    .mobile-header-social {
        display: flex !important;
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Цвет фона меню */
    z-index: 999; /* Чтобы меню было поверх остального контента */
    padding: 20px; /* Добавьте отступы по желанию */
    box-sizing: border-box; /* Учитываем отступы внутри элемента */
    overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается на экран */
}

.mobile-menu.active {
    display: block;
}

.burger-icon {
    width: 24px;
    height: 24px;
}

.support {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.09px;
}

.navbar-header {
    width: 100%;
}
