.accordion{
    width: 100%;
    max-width: 618px;
    height: fit-content;
}
.accordion-item {
    background-color: #FBFBFB;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: none;
}

.accordion-header {
    background-color: #FBFBFB;
    cursor: pointer;
    position: relative;
    font-family: Ubuntu, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
}

.arrow {
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

.rotate-down {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: max-height 0.3s ease;
    box-sizing: border-box;
    font-family: Ubuntu, serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 22.1px;
    text-align: left;
}

.accordion-content.active {
    transition: max-height 0.3s ease;;
    max-height: 400px; /* Adjust height based on your content */
    margin-top: 15px;
}

.accordion-header{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
}

.faq {
    gap: 20px
}

@media screen and (max-width: 576px) {
    .section-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 41.6px;
        text-align: left;
    }

    .accordion-header {
        font-size: 16px;
        font-weight: 700;
        line-height: 20.8px;
        text-align: left;
    }

    .accordion-content{
        font-size: 15px;
        font-weight: 300;
        line-height: 19.5px;
        text-align: left;
    }
}
