.accordion{
    width: 100%;
    max-width: 413px;
    height: fit-content;
}
.accordion-item {
    background-color: #FBFBFB;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.accordion-header {
    background-color: #FBFBFB;
    cursor: pointer;
    position: relative;
}

.arrow {
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

.rotate-down {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    margin-top: 0px;
    transition: max-height 0.3s ease;
    box-sizing: border-box;

}

.accordion-content.active {
    transition: max-height 0.3s ease;;
    max-height: 400px; /* Adjust height based on your content */
    margin-top: 15px;
}

.price_cont{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.price-accordion{
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0em;
    color: #107CDF;
}

.get_polomka{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: #DF1024;
    text-decoration: underline;
}

.accordion-header{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.container-accordions-flex{
    display: flex;
    justify-content: space-between;
}