.lessons {
    background: #1C1C1C;
    border-radius: 15px;
    padding: 60px 78px 60px 78px;
}

.lesson-title {
    color: white;
    margin-bottom: 4px;
}

.lesson-block-title {
    font-family: Ubuntu, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.lesson-block-desc {
    font-family: Ubuntu, serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 23.8px;
    text-align: left;
    color: #FFFFFFE9;
}

.lesson-block {
    max-width: 348px;
}

.lessons-blocks-row {
    margin-top: 40px;
}

.lessons-blocks-row .lesson-block {
    margin-right: 40px; /* Добавляем правый отступ между блоками */
}

.lessons-blocks-row .lesson-block:last-child {
    margin-right: 0; /* Убираем отступ справа для последнего блока */
}

@media screen and (max-width: 576px) {
    #Lessons {
        padding: 0 20px 0 20px;
    }

    .lessons {
        padding: 20px;
    }

    .lesson-block img {
        width: 60px;
        height: 60px;
    }

    .lesson-block {
        margin-top: 0;
    }

    .lessons-blocks-row .lesson-block {
        margin-top: 20px; /* Добавляем правый отступ между блоками */
    }

    .lessons-blocks-row .lesson-block:first-child {
        margin-top: 0; /* Убираем отступ справа для последнего блока */
    }

    .lessons-blocks-row {
        margin-top: 0;
    }

    .lesson-block-title {
        font-size: 16px;
        line-height: 22.4px;
        color: white;
        margin-top: 20px;
    }

    .lesson-block-desc {
        font-size: 16px;
        line-height: 22.4px;
        color: #FFFFFFE9;
    }
}