.second-layer-block-title {
    font-family: Ubuntu, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: right;
}

.second-layer-block-title > span {
    color: #009345;
}

.second-layer-block-text {
    font-family: Ubuntu, serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 33.8px;
    text-align: right;
    color: #8A8A8A;
}

.second-layer-block {
    max-width: 630px;
}

@media screen and (max-width: 576px) {
    .second-layer-block-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 27.58px;
        text-align: center;
    }

    .second-layer-block-text{
        font-size: 18px;
        font-weight: 700;
        line-height: 20.68px;
        text-align: center;
        margin-top: 15px;
    }
}