@import "header.css";
@import "s1-greeting.css";
@import "s2-why-we-are.css";
@import "s3-whom.css";
@import "s4-learn.css";
@import "s5-lessons.css";
@import "s6-curriculum.css";
@import "s7-second-layer.css";
@import "s8-price.css";
@import "s9-booking-form.css";
@import "s10-faq.css";
@import "footer.css";
@import "modals.css";
@import "mobile.css";

body {
    font-family: Ubuntu, serif;
}

section, header {
    max-width: 1280px !important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
}

footer {
    background: #1C1C1C;
}

.section-title {
    font-family: Ubuntu, serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: left;
}

.section-title span {
    color: #009345;
}
