section, header {
    max-width: 1280px; !important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
}

.title {
    font-family: Ubuntu, serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
}

.title > span {
    font-family: Ubuntu, serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #009345;
}

.subtitle {
    font-family: Ubuntu, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 41.36px;
    text-align: left;
}

.subtitle > span {
    color: #009345;
}

.why-we-are-img {
    width: 598px;
    height: 598px;
    top: 903px;
    left: 320px;
}